<!-- Contenedor del gráfico -->
<div class="container">
    <div class="row">
      <!-- Columna para la gráfica de Heart Rate -->
      <div class="col-md-6">
        <h2>Heart Rate</h2>
        <canvas id="heartRateChart"></canvas>
      </div>
      <!-- Columna para la gráfica de Blood Pressure -->
      <div class="col-md-6">
        <h2>Blood Pressure</h2>
        <canvas id="bloodPressureChart"></canvas>
      </div>
    </div>
    <div class="row">
      <!-- Columna para la gráfica de Temperature -->
      <div class="col-md-6">
        <h2>Temperature</h2>
        <canvas id="temperatureChart"></canvas>
      </div>
      <!-- Columna para la gráfica de Respiratory Rate -->
      <div class="col-md-6">
        <h2>Respiratory Rate</h2>
        <canvas id="respiratoryRateChart"></canvas>
      </div>
    </div>
  </div>
  